body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d1117;
  color: white;
  text-align: center;
}

header {
  background: #161b22;
  padding: 20px;
}

h1 {
  color: #00c853;
}

p {
  font-size: 18px;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
}

.btn {
  display: inline-block;
  background: #00c853;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  }
